### C++ template
# Prerequisites
*.d
.idea
.vscode
./app
app
out
./out
mtx/road-road-usa.mtx
mtx/road-belgium-osm.mtx
mtx/road-germany-osm.mtx
mtx/netherlands-osm.mtx
mtx/road-roadNet-PA.mtx
mtx/road-great-britain-osm.mtx
mtx/road-netherlands-osm.mtx
mtx/road-italy-osm.mtx
mtx/*

cmake-build-debug

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

